<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='\node_modules\bootstrap\dist\css\bootstrap.min.css' />
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/classes">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/classes">Quản lý lớp<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/students">Quản lý sinh viên</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <h1>
      <%= title %>
    </h1>
    <a href="/students/new" class="btn btn-default" role="button">Thêm sinh viên</a>
    <br/><br/>
    <table class="table table-bordered">
      <thead>
        <th>Mã sinh viên</th>
        <th>Ảnh đại diện</th>
        <th>Họ tên</th>
        <th>Giới tính</th>
        <th>Ngày sinh</th>
        <th>Lớp</th>
        <th>Địa chỉ</th>
        <th>Hành động</th>
      </thead>
      <tbody>
              <%
                if (students.length > 0) {
                for (var i = 0; i < students.length; i++) {
              %>
          <tr>
            <td>
              PH<%= ("00000" + students[i].ma).slice(-5) %>
            </td>
            <td><img src="<%= students[i].anh %>" alt="<%= students[i].ten %>" width="100px" /></td>
            <td>
              <%= students[i].ten %>
            </td>
            <td>
              <%= students[i].gioitinh %>
            </td>
            <td>
              <%= students[i].ngaysinh %>
            </td>
            <td>
              PT<%= ("00000" + students[i].ma_lop).slice(-5) %>
            </td>
            <td>
              <%= students[i].diachi %>
            </td>
            <td>
              <a href="/students/<%= students[i].ma %>/edit" class="btn btn-warning" role="button">Sửa</a>
              <a href="/students/<%= students[i].ma %>/delete" class="btn btn-danger" role="button">Xoá</a>
            </td>
          </tr>
              <%
                }} else {
              %>
              <tr>
                <td colspan="8">Bạn chưa thêm sinh viên nào. Nhấn <a href="/students/new" class="btn btn-default" role="button">Thêm sinh viên</a> để thêm 1 sinh viên mới.</td>
              </tr>
              <% } %>
      </tbody>
    </table>
  </div>
</body>

</html>