<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='\node_modules\bootstrap\dist\css\bootstrap.min.css' />
    <script type="text/javascript" src="\node_modules\jquery\dist\jquery.min.js"></script>
    <script type="text/javascript" src="\javascripts\jquery.validate.js"></script>
    <script type="text/javascript" src="\javascripts\additional-methods.js"></script>


  </head>
  <body>
    <div class="container">
		<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/classes">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/classes">Quản lý lớp<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/students">Quản lý sinh viên</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
        <div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Cập nhật thông tin</h3>
</div>
<div class="panel-body">
<form id="addForm" class="form-horizontal" action="/students/<%= student[0].ma %>?_method=PUT" method="post" name="edit" enctype="multipart/form-data" novalidate="novalidate">
<input type="hidden" name="anhhientai" value="<%= student[0].anh %>">   

<div class="form-group">
<label class="col-sm-4 control-label" for="tensv">Họ tên</label>
<div class="col-sm-5">
<input value="<%= student[0].ten %>" type="text" class="form-control" id="tensv" name="tensv" placeholder="nhập họ tên">
</div>
</div>
<div class="form-group">
<label class="col-sm-4 control-label" for="avatar">Ảnh đại diện</label>
<div class="col-sm-5">
<img src="../<%= student[0].anh %>" alt="avatar" id="show" width="100px"/>
<p class="help-block">Chọn ảnh để tải lên.</p>

<label class="form-control"> 
	<input type="file" id="avatar" name="anh" > 
</label>

</div>
</div>
<div class="form-group">
<label class="col-sm-4 control-label" for="ngaysinh">Ngày sinh</label>
<div class="col-sm-5">
<input value="<%= student[0].ngaysinh %>" type="date" class="form-control" id="ngaysinh" name="ngaysinh" >
</div>
</div>
<div class="form-group">
<label class="col-sm-4 control-label" for="gioitinh">Giới tính</label>
<div class="col-sm-5"> 

  <label class="form-control">
	<input type="radio" name="optradio" <%= student[0].gioitinh == 'Nam' ? 'checked' : '' %> id="gioitinh" value="Nam"> Nam
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="radio" name="optradio" <%= student[0].gioitinh == 'Nữ' ? 'checked' : '' %> value="Nữ"> Nữ
  </label>

</div>
</div>
<div class="form-group">
<label class="col-sm-4 control-label" for="lop">Lớp</label>
<div class="col-sm-5">
	<select class="form-control" id="lop" name="lop">
	  <option value="default">chọn lớp ...</option>
      <%
	  	for (var i = 0; i < lop.length; i++) {
	  %>
	  <option <%= student[0].ma_lop === lop[i].ma_lop  ? 'selected' : '' %> value="<%= lop[i].ma_lop %>">PT<%= ("00000" + lop[i].ma_lop).slice(-5) %></option>
	  <%
		}
	  %>
    </select>
</div>
</div>
<div class="form-group">
<label class="col-sm-4 control-label" for="diachi">Địa chỉ</label>
<div class="col-sm-5">
<input value="<%= student[0].diachi %>" type="text" class="form-control" id="diachi" name="diachi" placeholder="địa chỉ">
</div>
</div>
<div class="form-group">
<div class="col-sm-9 col-sm-offset-4">
<button type="submit" class="btn btn-primary" name="addnew" value="save">Cập nhật</button>
</div>
</div>
</form>
</div>
</div>
    </div>

    <script type="text/javascript" src="\javascripts\main.js"></script>

        
<script type="text/javascript">
		
		$( document ).ready( function () {
			$( "#addForm" ).validate( {
				rules: {
					tensv: "required",
					lop: {
						validateClass: true
					},
					anh: {
      			extension: "jpg|png"   
					},
					ngaysinh: {
				      required: true,
				      date: true
				    },
					optradio: {
						required: true
					},
					diachi: "required"  
				},
				messages: {
					tensv: "Vui lòng nhập tên sinh viên",
					lop: {
						validateClass: "Vui lòng chọn lớp"
					},
					anh: {
				
						extension: "Tải lên hình ảnh có dạng .png và .jpg"
					},
					ngaysinh: {
						required: "Vui lòng nhập ngày sinh",
						date: "Ngày sinh bạn nhập không hợp lệ"
					},
					optradio: {
						required: "Vui lòng chọn giới tính"
					},
					diachi: "Vui lòng nhập địa chỉ "    

				},
				errorElement: "em",
				errorPlacement: function ( error, element ) {
					// Add the `help-block` class to the error element
					error.addClass( "help-block" );

					if ( element.prop( "type" ) === "radio" ) {
						error.insertAfter( element.parent( "label" ) );
					} else if ( element.prop( "type" ) === "file" ) {
						error.insertAfter( element.parent( "label" ) );
					} else {
						error.insertAfter( element);
					}
				},
				highlight: function ( element, errorClass, validClass ) {
					$( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
				},
				unhighlight: function (element, errorClass, validClass) {
					$( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
				}
			} );

		} );

		jQuery.validator.addMethod("validateClass", function(value, element) 
		{       
			if($("#lop").val() === 'default'){
				return false;
			}
			return true;
		}); 

	</script>

  </body>
</html>
